<div class="input-group mutlivalue-prnt">
  <input  [(ngModel)]="newValue" #newValueField type="text"
          (keydown)="handleKeyDown($event)"
          (paste)="pastedText($event)"
          (keyup)="checkText()"
          class="form-control form-control-sm"
          placeholder="{{placeholder}}"/>
  <span class="input-group-addon">
    <i class="fa fa-plus pointer" id="plus_{{type}}" title="Add Value" (click)="addValue(true)"></i>
  </span>
  <span class="input-group-addon">
    <i class="fa fa-upload pointer" id="upload_{{type}}" title="Import File Type CSV" (click)="uploadFile()"></i>
  </span>
  <span class="input-group-addon">
    <i class="fa fa-eraser pointer" id="eraser_{{type}}" title="Delete All Values" (click)="removeAllValues(); refresh()"></i>
  </span>
</div>
<input type="file" id="uploadFileElem_{{type}}" #uploadFileElem (change)="uploadFileListener($event)" style="display:none"/>
<div class="input-group" *ngIf="values && values.length>0" style="padding-right:104px">

  <select size="3" [(ngModel)]="selectedValueIndex" (dblclick)="removeSelectedValue()" class="form-control form-control-sm" id="select_{{type}}">
    <option *ngFor="let val of values;let i=index" [value]="i">{{val}}</option>
  </select>
</div>
