<div class="dropdown">
  <button class="btn dropdown-toggle" class="button-multi" type="button"
          id="dropdownMenuButton" data-bs-toggle="dropdown">
    <div *ngIf="isMulti">
      <span class="p-2" *ngFor="let selectedOpt of selectedOptions">{{selectedOpt.name}}</span>
    </div>
    <div *ngIf="!isMulti && selectedOption">
      <span>{{selectedOption.name}}</span>
    </div>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <ng-container *ngFor="let option of options">
      <li class="check-list-item-grp pointer ml-2" (click)="selectUnselectOption(option)">
        <input *ngIf="isMulti" type="checkbox" [(ngModel)]="checkedOptionsIds[option.id]" (click)="selectUnselectOption(option)"/>
<!--        <i class="fa fa-check" *ngIf="!isMulti && selectedOption && option.id==selectedOption.id" (click)="selectUnselectOption(option)"></i>-->
        <span>{{option.name}}</span>
      </li>
    </ng-container>
  </div>
</div>
