
<div class="container d-flex flex-wrap">
  <div class="card m-4" style="width: 25rem; height: 20rem" *ngFor="let report of reports">
    <div class="card-body">
      <h5 class="card-title">{{report.type}}</h5>
      <p class="card-text">{{report.desc}}</p>
      <app-multi-value-field [values]="report.productIdsSelected">
      </app-multi-value-field>
      <div class="generateBtn">
        <button class="btn btn-info" (click)="generateReport(report)">Generate</button>
      </div>
    </div>
  </div>
</div>
