<div class="col-md-10 p-5 m-auto">
  <div class="d-flex justify-content-end m-4">
    <button class="btn btn-info" [routerLink]="['/product']">New Product</button>
  </div>
</div>
<div class="container d-flex flex-wrap">
  <div class="card m-4" style="width: 25rem; height: 20rem" *ngFor="let product of products">
    <div class="card-body" [routerLink]="['/product', product.id]">
      <h5 class="card-title">{{product.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{product.supplier?.name}}</h6>
      <p class="card-text">{{product.description}}</p>
      <p>{{product.category?.name}}</p>
    </div>
  </div>
</div>
