<div class="col-md-10 p-5 m-auto">
  <div class="d-flex justify-content-end m-4">
    <button class="btn btn-info" (click)="saveProduct()">Save Product</button>
  </div>
  <div class="form-group row d-flex flex-column border p-2 m-4">
    <h3>Product Info:</h3>
    <div>
      <label class="col-form-label">Name:</label>
      <div class="col-md-3">
        <input class="form-control" name="name" required [(ngModel)]="product.name">
      </div>
    </div>
    <div>
      <label class="col-form-label">Description:</label>
      <div class="col-md-3">
        <input class="form-control" name="description" [(ngModel)]="product.description">
      </div>
    </div>
    <div>
      <label class="col-form-label">Ingredients:</label>
      <div [(ngModel)]="product.ingredients">
        <table class="table table-bordered">
          <thead class="thead-light">
            <td class="col-4 text-center">Name</td>
            <td class="col-3 text-center">Origin</td>
            <td class="col-4 text-center">Allergies</td>
            <td class="col-1"></td>
          </thead>
          <tbody>
            <tr *ngFor="let ingredient of product.ingredients, let i = index">
              <td class="col-md-3">
                <input class="form-control" name="ingedient" [(ngModel)]="ingredient.name">
              </td>
              <td class="col-md-3">
                <input class="form-control" name="origin" [(ngModel)]="ingredient.origin">
              </td>
              <td class="col-md-3">
                <div class="d-flex align-items-center" *ngFor="let allergy of ingredient.possibleAllergies; let j = index">
                  <input class="form-control" name="allergy" [ngModel]="allergy">
                  <span class="fa-solid fa-minus remove-icon" (click)="addOrRemoveAllergy(ingredient.possibleAllergies,1, j)"></span>
                </div>
                <div class="align-middle" align="center">
                  <span class="fa-solid fa-plus" (click)="addOrRemoveAllergy(ingredient.possibleAllergies,0)"></span>
                </div>
              </td>
              <td align="center">
                <span *ngIf="i==0" class="p-1 fa-solid fa-plus" (click)="addOrRemoveIngredient(product.ingredients, 0)"></span>
                <span class="p-1 fa-solid fa-minus" (click)="addOrRemoveIngredient(product.ingredients, 1, i)"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <input class="form-check-input" type="checkbox" name="vegetarian" [(ngModel)]="product.isVegetarian">
      <label class="form-check-label">Vegetarian:</label>
    </div>
    <div class="col-md-3">
      <input class="form-check-input" type="checkbox" name="vegan" [(ngModel)]="product.isVegan">
      <label class="form-check-label">Vegan:</label>
    </div>
    <div class="col-md-3">
      <label class="col-form-label">Country of Origin</label>
      <app-multi-select-field [isMulti]="false" [options]="CountryList" [(selectedOption)]="product.countryOfOrigin">
      </app-multi-select-field>
    </div>
    <div class="col-md-3">
      <label class="col-form-label">Price:</label>
      <div>
        <input class="form-control" name="price" required [(ngModel)]="product.price">
      </div>
    </div>
  </div>

  <div class="form-group row d-flex flex-column border p-2 m-4">
    <h3 class="col-form-label">Category:</h3>
    <div class="col-md-3">
      <label class="col-form-label">Category Name</label>
      <app-multi-select-field [isMulti]="false" [options]="CategoryList" [(selectedOption)]="product.category">
      </app-multi-select-field>
    </div>
    <div class="col-md-3">
      <label class="col-form-label">Rayon</label>
      <input class="form-control" name="rayon" [disabled]="product.category.id != null" [(ngModel)]="product.category.rayon">
    </div>
  </div>

  <div class="form-group row d-flex flex-column border p-2 m-4">
    <h3 class="col-form-label">Measurement:</h3>
    <div class="col-md-3">
      <label class="col-form-label">Height</label>
      <input class="form-control" name="height" [(ngModel)]="product.measurement.height">
    </div>
    <div class="col-md-3">
      <label class="col-form-label">Width</label>
      <input class="form-control" name="width" [(ngModel)]="product.measurement.width">
    </div>
    <div class="col-md-3">
      <label class="col-form-label">Length</label>
      <input class="form-control" name="length" [(ngModel)]="product.measurement.length">
    </div>
    <div class="col-md-3">
      <label class="col-form-label">Weight</label>
      <input class="form-control" name="weight" [(ngModel)]="product.weight">
    </div>
  </div>

  <div class="form-group row d-flex flex-column border p-2 m-4">
    <h3>Marketing Info:</h3>
    <div class="col-md-3">
      <label class="col-form-label">Countries To Sell</label>
      <app-multi-select-field [isMulti]="true" [options]="CountryList" [(selectedOptions)]="product.countriesSell">
      </app-multi-select-field>
    </div>
  </div>
</div>
