<nav>

  <div>
    <ul class="nav nav-tabs">

      <div *ngFor="let item of navigation">

        <li [attr.id]="'menu_'+item.code" class="nav-item">
          <a class="nav-link" id="{{item.code}}" routerLink="/{{item.code}}">{{item.label}}</a>
        </li>

      </div>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
