<div>
  <mat-card>
    <h1 class="mat-card-title mb-5">Login</h1>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <p class="mb-3">
          <mat-form-field>
            <label>Username</label>
            <input [ngClass]="{ 'form-control is-invalid' : this.loginForm.get('username')?.touched && this.loginForm.get('username')?.hasError('required')}"
                   matInput formControlName="username">
          </mat-form-field>
        </p>

        <p class="mb-3">
          <mat-form-field>
            <label>Password</label>
            <input type="password" matInput formControlName="password" [ngClass]="{'form-control is-invalid' : this.loginForm.get('password')?.touched && this.loginForm.get('password')?.hasError('required')}">
          </mat-form-field>
        </p>

        <div class="button mt-1">
          <!-- Button is disabled(not clickable), if our LoginForm contains Validation Errors -->
          <button type="submit" mat-button [disabled]="!loginForm.valid">Login</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
